body {
    background-color: #cfd9df;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(192, 57, 43, 10);

    position: fixed;
    top: 50%;
    left: 50%;

    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.7);
        box-shadow: 0 0 0 0 rgba(192, 57, 43, 1);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(192, 57, 43, 0);
    }

    100% {
        transform: scale(0.7);
    }
}
